#Importaciones Iniciales
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')

### **1. Importaciones Iniciales**

In [ ]:
#Importaciones Iniciales
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')
import re

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Data/uk_bank_holidays.csv')
data.head()

  Bank holidays                                          Type
0    2012-12-26                                    Boxing Day
1    2012-12-25                                 Christmas Day
2    2012-08-27                           Summer bank holiday
3    2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)
4    2012-04-06          Spring bank holiday (substitute day)

### **2. Inspeccion Inicial de la Data**

In [ ]:
#Inspeccion Inicial de la Info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bank holidays  25 non-null     object
 1   Type           25 non-null     object
dtypes: object(2)
memory usage: 528.0+ bytes

In [ ]:
data.shape

(25, 2)

In [ ]:
data.columns

Index(['Bank holidays', 'Type'], dtype='object')

In [ ]:
data.describe()

       Bank holidays                    Type
count             25                      25
unique            25                      11
top       2012-04-06  Early May bank holiday
freq               1                       3

In [ ]:
#Analizar los Nulos 
#null_cols = data.isnull().sum()
#null_cols

In [ ]:
#Analizar por que los datos son Nulos en la columna Energy_STD
#null_displ = data[data['energy_std'].isnull() == True]
#null_displ

In [ ]:
#Eliminar aquellos valores nulos que sean mayores a 10.000 datos. 
#drop_cols = list(null_cols[null_cols > 10_000].index)
#print(drop_cols)

In [ ]:
#se esta presentando que este caso es NAN dado que por algun motivo el medidor de la energia solo tomo un registro de 
#informacion de los 48 que debia; esto ocasiona que al no haber mayores datos para calcular esta desviacion el valor sea Nulo.
#Se decide que este valor se igualara a 0 y se mantendran los registros medidos.
#La cantidad total de filas es 3.510.433 y los nulos son 11.331 que representa el 0.32% lo cual no es considerable.

In [ ]:
data_clean = data.copy()

In [ ]:
data_clean.head()

  Bank holidays                                          Type
0    2012-12-26                                    Boxing Day
1    2012-12-25                                 Christmas Day
2    2012-08-27                           Summer bank holiday
3    2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)
4    2012-04-06          Spring bank holiday (substitute day)

In [ ]:
#Rellenar NaN con 0
#data_clean[['energy_std']] = data_clean[['energy_std']].fillna(0)

In [ ]:
#null_cols_clean = data_clean.isnull().sum()
#null_cols_clean

In [ ]:
#Tramamiento de nulls -> Done
#Validar otros nulls que puedan tener sentido -> Done
#Elementos de baja varianza -> N/A
#Ouliers N/A
#Obtener cuantiles / percentiles

In [ ]:
#Preparar Columna de Day para manipulacion. 
data_clean['Date'] = pd.to_datetime(data_clean['Bank holidays']
                            # , format='%d/%m/%Y'
                            # , dayfirst=True
                            )

In [ ]:
data_clean.head(2)

  Bank holidays           Type       Date
0    2012-12-26     Boxing Day 2012-12-26
1    2012-12-25  Christmas Day 2012-12-25

In [ ]:
#Limpieza de texto eliminando cualquier caracter mal escrito
data_clean

   Bank holidays                                          Type       Date
0     2012-12-26                                    Boxing Day 2012-12-26
1     2012-12-25                                 Christmas Day 2012-12-25
2     2012-08-27                           Summer bank holiday 2012-08-27
3     2012-05-06  Queen?s Diamond Jubilee (extra bank holiday) 2012-05-06
4     2012-04-06          Spring bank holiday (substitute day) 2012-04-06
5     2012-07-05                        Early May bank holiday 2012-07-05
6     2012-09-04                                 Easter Monday 2012-09-04
7     2012-06-04                                   Good Friday 2012-06-04
8     2012-02-01               New Year?s Day (substitute day) 2012-02-01
9     2013-12-26                                    Boxing Day 2013-12-26
10    2013-12-25                                 Christmas Day 2013-12-25
11    2013-08-26                           Summer bank holiday 2013-08-26
12    2013-05-27                           Spring bank holiday 2013-05-27
13    2013-06-05                        Early May bank holiday 2013-06-05
14    2013-01-04                                 Easter Monday 2013-01-04
15    2013-03-29                                   Good Friday 2013-03-29
16    2013-01-01                                New Year?s Day 2013-01-01
17    2014-12-26                                    Boxing Day 2014-12-26
18    2014-12-25                                 Christmas Day 2014-12-25
19    2014-08-25                           Summer bank holiday 2014-08-25
20    2014-05-26                           Spring bank holiday 2014-05-26
21    2014-05-05                        Early May bank holiday 2014-05-05
22    2014-04-21                                 Easter Monday 2014-04-21
23    2014-04-18                                   Good Friday 2014-04-18
24    2014-01-01                                New Year?s Day 2014-01-01

In [ ]:
text_to_clean = data_clean['Type'].values
text_to_clean_list = list(text_to_clean)
text_cleaned = [(re.sub("\!|\'|\?","",i)) for i in text_to_clean_list ]
text_cleaned
data_clean['Holiday_UK'] = text_cleaned

In [ ]:
data_clean

   Bank holidays  ...                                   Holiday_UK
0     2012-12-26  ...                                   Boxing Day
1     2012-12-25  ...                                Christmas Day
2     2012-08-27  ...                          Summer bank holiday
3     2012-05-06  ...  Queens Diamond Jubilee (extra bank holiday)
4     2012-04-06  ...         Spring bank holiday (substitute day)
5     2012-07-05  ...                       Early May bank holiday
6     2012-09-04  ...                                Easter Monday
7     2012-06-04  ...                                  Good Friday
8     2012-02-01  ...               New Years Day (substitute day)
9     2013-12-26  ...                                   Boxing Day
10    2013-12-25  ...                                Christmas Day
11    2013-08-26  ...                          Summer bank holiday
12    2013-05-27  ...                          Spring bank holiday
13    2013-06-05  ...                       Early May bank holiday
14    2013-01-04  ...                                Easter Monday
15    2013-03-29  ...                                  Good Friday
16    2013-01-01  ...                                New Years Day
17    2014-12-26  ...                                   Boxing Day
18    2014-12-25  ...                                Christmas Day
19    2014-08-25  ...                          Summer bank holiday
20    2014-05-26  ...                          Spring bank holiday
21    2014-05-05  ...                       Early May bank holiday
22    2014-04-21  ...                                Easter Monday
23    2014-04-18  ...                                  Good Friday
24    2014-01-01  ...                                New Years Day

[25 rows x 4 columns]

In [ ]:
#Incoporando Rate de Implementacion
valores = data_clean_trimestre['LCLid'].values
valores_list = list(valores)
tope_max = len(valores_list)-1
ratio_implementacion = [((valores_list[i+1]-valores_list[i])/(valores_list[i+1])*100) for i in range(0,tope_max)]
ratio_implementacion.insert(0,0)
ratio_implementacion
data_clean_trimestre['ratio_implementacion'] = ratio_implementacion
data_clean_trimestre

         LCLid  ratio_implementacion
Q
2011Q4    8523              0.000000
2012Q1   67613             87.394436
2012Q2  258286             73.822429
2012Q3  436145             40.779787
2012Q4  501536             13.038147
2013Q1  492073             -1.923089
2013Q2  488353             -0.761744
2013Q3  484987             -0.694039
2013Q4  474818             -2.141663
2014Q1  298099            -59.281984

In [ ]:
#Se identifica que durante el 2013 fue el pico de incorporacion de smarts meters, y finanilzando el 2013
#se empezo a desinstalar progresivamente los medidores?